ngb-carousel {
width: 100%;
height: 80vh;
}
a{
  text-decoration: none;
  color: white;
}
ngb-carousel img {
  width: 100%;
  height: 80vh;
  outline: none;
}

ngb-carousel {
  width: inherit;
  height: inherit;
}

.carousel-inner {
  overflow: visible;
}

.carousel-item {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1.2s ease-in-out, visibility 1.2s;
  z-index: -1;
}

.carousel-item.active{
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.carousel-control-prev {
   z-index: 20;
}


.carousel-control-next {
   z-index: 20;
}

.carousel-indicators{
  z-index: 20;
}
.img1b2{
  background-image: url(../img/moneybagpng.png);
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}
.img2b2{
  background-image: url(../img/calendarpng.png);
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}
.img3b2{
  background-image: url(../img/airaplnepng.png);
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}
.img4b2{
  background-image: url(../img/worldpmng.png);
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
}
/*
block2 and carousel end
*/
.card{
  margin: 0px; padding: 0px;
}
.heading.heading-icon {
  display: block;
}
.padding-lg {
display: block;
padding-top: 60px;
padding-bottom: 60px;
}
.practice-area.padding-lg {
  padding-bottom: 55px;
  padding-top: 55px;
}
.practice-area .inner{ 
 text-align:center; 
 margin-bottom:28px; 
 padding:40px 25px;
}
.Hot-trips .cnt-block:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  border: 0;
}
.practice-area .inner h3{ 
  color:#3c3c3c; 
font-size:24px; 
font-weight:500;
font-family: 'Poppins', sans-serif;
padding: 00px 0;
}
.practice-area .inner p{ 
  font-size:14px; 
line-height:22px; 
font-weight:400;
}
.practice-area .inner img{
display:inline-block;
}


.Hot-trips{
background:url(https://sun9-9.userapi.com/impg/J0wHZQ3ZPF0KcSpjRpUQIgsVtidZyFQ5X3hTQQ/itaGidvnQcQ.jpg?size=1280x853&quality=96&sign=f6ab9e6bbeb4f5a415113f5092c887af&type=album) no-repeat center top / cover;


}
.Hot-trips .cnt-block{ 
 float:left; 
 width:100%; 
 background:#fff; 
 padding:30px 20px; 
 text-align:center; 
 margin: 0 0 28px;
}
.Hot-trips .cnt-block figure{
 width:148px; 
 height:148px; 
 border-radius:100%; 
 display:inline-block;
 margin-bottom: 15px;
}
.Hot-trips .cnt-block img{ 
 width:100%; 
 height:148px; 
 border-radius:100%; 
}
.Hot-trips .cnt-block h3{ 
 color:#2a2a2a; 
 font-size:20px; 
 font-weight:500; 
 padding:6px 0;
 text-transform:uppercase;
}
.Hot-trips .cnt-block h3 a{
text-decoration:none;
color:#2a2a2a;
}
.Hot-trips .cnt-block h3 a:hover{
color:#337ab7;
}
.Hot-trips .cnt-block p{ 
 color:#2a2a2a; 
 font-size:13px; 
 line-height:20px; 
 font-weight:400;
}

.row.heading h2 {
  color: #fff;
  font-size: 52.52px;
  line-height: 95px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
/*
hot trips end
*/

.card-pop{
  margin: 0px; padding: 0px; height: 500px;
}
.cardpopimg{
height: 190%;
}
.heading.heading-icon {
  display: block;
}
.padding-lg {
display: block;

padding-top: 60px;
padding-bottom: 60px;
}
.practice-area.padding-lg {
  padding-bottom: 55px;
  padding-top: 55px;
}
.practice-area .inner{ 
 text-align:center; 
 margin-bottom:28px; 
 padding:40px 25px;
}
.Popular .cnt-block:hover {
  border: 0;
}
.practice-area .inner h3{ 
  color:#3c3c3c; 
font-size:24px; 
font-weight:500;
font-family: 'Poppins', sans-serif;
padding: 00px 0;
}
.practice-area .inner p{ 
  font-size:14px; 
line-height:22px; 
font-weight:400;
}
.practice-area .inner img{
display:inline-block;
}


.Popular{
background: url("https://sun9-22.userapi.com/impg/hrS8AxbjQUfdri9c22UkJlHuK5Da7jemjpZz7Q/wqYBA1DraRE.jpg?size=1280x705&quality=96&sign=c5baf84e10db859190e6ade4932903bf&type=album") no-repeat center top / cover;


}
.Popular .cnt-block{ 
 float:left; 
 width:100%; 
 background:#fff; 
 padding:30px 20px; 
 text-align:center; 
 margin: 0 0 28px;
}
.Popular .cnt-block figure{
 width:148px; 
 height:100%; 
 border-radius:100%; 
 margin-bottom: 15px;
}
.Popular .cnt-block img{ 
 width:100%; 
 height:100%; 
 border-radius:100%; 
}
.Popular .cnt-block h3{ 
 color:#2a2a2a; 
 font-size:20px; 
 font-weight:500; 
 padding:6px 0;
 text-transform:uppercase;
}
.Popular .cnt-block h3 a{
text-decoration:none;
color:#2a2a2a;
}
.Popular .cnt-block h3 a:hover{
color:#337ab7;
}
.Popular .cnt-block p{ 
 color:#2a2a2a; 
 font-size:13px; 
 line-height:20px; 
 font-weight:400;
}
