<ngb-carousel [animation]="true" [interval]="5000" >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper ">
        <img class="img" style="height: 80vh; width:100%;" src="https://sun9-12.userapi.com/impg/nMoJCeQmGa81CUmfttrjrQRM-B7r_hmaxDgonw/daSdNIwS9TY.jpg?size=604x604&quality=96&sign=05d74aafdd6bc896a69775eae0e61684&type=album" alt="Angular Carousel 1">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper ">
          <img class="img" src="https://sun9-12.userapi.com/impg/nMoJCeQmGa81CUmfttrjrQRM-B7r_hmaxDgonw/daSdNIwS9TY.jpg?size=604x604&quality=96&sign=05d74aafdd6bc896a69775eae0e61684&type=album" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
          <h3>Title Goes Here</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img  src="https://sun9-6.userapi.com/impg/E1mXU-hcTDMFv_kIaWfqXhpm4g1hKkWuiy38hw/_IjTUVrLmvg.jpg?size=1280x1280&quality=96&sign=308160ed7be7ea592707bf0fdd4b403c&type=album" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Consectetur tortor volutpat pretium.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="container-fluid" height="100px" style="background-color: #85dd01" >
    <div class="row d-flex justify-content-around">
    <div class="col-md-3 text-center">
      
      <img class="img1b2 "    alt=""><p class="text-center" style="font-size:large; color: #fff;">TEXT HERE</p>
    </div>
    <div class="col-md-3 text-center">
      
      <img class="img2b2 "    alt=""><p class="text-center" style="font-size:large; color: #fff;">TEXT HERE</p>
    </div>
    <div class="col-md-3 text-center">
      
      <img class="img3b2 "    alt=""><p class="text-center" style="font-size:large; color: #fff;">TEXT HERE</p>
    </div>
    <div class="col-md-3 text-center">
      
      <img class="img4b2 "    alt=""><p class="text-center" style="font-size:large; color: #fff;">TEXT HERE</p>
    </div>
    </div>
  </div>
  <!--end b2 and carousel-->
  <section class="Hot-trips padding-lg">
    <div class="container-fluid "> 
      <div class="row heading heading-icon">
          <h2>HOT-TOURS</h2>
      </div>
    <div class="row d-flex justify-content-around " >
      <div class="card col-md-2" style="width:20rem;" *ngFor="let dataitem of AsiatoursList.slice(0, 5); ">
        <img class="card-img-top img-fluid" style="height: 300px;" src="{{dataitem.photo1}}" alt="card image">
        <div class="card-body">
        <h4 class="card-title">{{dataitem.title}}</h4>
        <p class="card-text">{{dataitem.price}}$ and {{dataitem.stars}} <i class="fa fa-star" aria-hidden="true"></i></p>
        <a href="#" class="btn btn-primary" routerLink="/tour/{{dataitem.id_t}}">Info</a>
        </div>
        </div>
      
    </div>
    </div>
  </section>
<!--not trips block end-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center ">
       <h1>  <i class="fa fa-map-marker"  style="color: green;" aria-hidden="true"></i> Popular Navigations</h1>
       <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dicta, error tempora quas deserunt eveniet? 
        Beatae id quisquam corrupti 
        voluptate cumque, expedita ex pariatur, inventore at nobis quis harum quas.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores tenetur assumenda aperiam atque vitae, vero neque, explicabo recusandae]
          nobis eveniet aliquam natus tempore, alias nemo adipisci hic ad doloremque temporibus!
       </p>
    </div>
    
  </div>
</div>
<!--end of b3 text block-->
<section class="Popular padding-lg  " >
  <div class="container-fluid ">
    <div class="row heading heading-icon">
        <h2>Popular Navigations</h2>
    </div>
  <div class="row d-flex justify-content-around ">
    <div class="card card-pop col-md-2" style="width:20rem;">
      <img class="card-img-top cardpopimg " src="https://sun9-22.userapi.com/impg/Z9FXuFzTeH5qSyBdM4M54-PxjeANjxETK_Le2w/Of5RV16Az7o.jpg?size=370x216&quality=96&sign=4987178f9d76abedb8596196cf4f251f&type=album" alt="card image">
      <div class="card-img-overlay ">
      <a href="" routerLink="/europetours">  <h3 class="card-title  text-center ">Europe</h3></a>
      </div>
    </div>      
      <div class="card card-pop col-md-2" style="width:20rem;">
        <img class="card-img-top cardpopimg " src="https://sun9-49.userapi.com/impf/c837621/v837621403/d18b/ykXHhpGq-iE.jpg?size=800x800&quality=96&sign=7f90de362f15b404681ed6244ec63ec6&type=album" alt="card image">
        <div class="card-img-overlay ">
          <a href="" routerLink="/asiatours">  <h3 class="card-title  text-center ">Asia</h3></a>
              </div>
      </div>      
        <div class="card card-pop col-md-2" style="width:20rem;">
          <img class="card-img-top cardpopimg " src="https://sun9-77.userapi.com/impf/c637625/v637625174/1ecca/CkYrX0kM0Qc.jpg?size=1080x1080&quality=96&sign=24edb8bd637ddec1d9ab60ee8ecb0a1a&type=album" alt="card image">
          <div class="card-img-overlay ">
            <a href="" routerLink="/northamericatours">  <h3 class="card-title  text-center ">North America</h3></a>
      
          </div>
        </div>      
          <div class="card card-pop col-md-2" style="width:20rem;">
            <img class="card-img-top cardpopimg " src="https://sun9-71.userapi.com/impf/c629221/v629221028/4068a/HuMnYpIgmUI.jpg?size=1017x681&quality=96&sign=5d8b8637f83c05da950db7aae5748df9&type=album" alt="card image">
            <div class="card-img-overlay ">
              <a href="" routerLink="/southamericatours">  <h3 class="card-title  text-center ">South America</h3></a>
      
            </div>
          </div>      
        <div class="card card-pop col-md-2" style="width:20rem;">
          <img class="card-img-top cardpopimg " src="https://sun9-21.userapi.com/impf/c638922/v638922539/56be/rXmwLV0NrOE.jpg?size=750x937&quality=96&sign=ccde89fc87e527f6d5a4b77e6c9620dc&type=album" alt="card image">
          <div class="card-img-overlay ">
            <a href="" routerLink="/africatours">  <h3 class="card-title  text-center ">Africa</h3></a>
      
          </div>
        </div>            
  </div>
  </div>
</section>
<!--popular navigations end-->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 text-center ">
       <h1 >  Some Text <span style="color: greenyellow;">Here</span></h1>
       <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dicta, error tempora quas deserunt eveniet? 
        Beatae id quisquam corrupti 
        voluptate cumque, expedita ex pariatur, inventore at nobis quis harum quas.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores tenetur assumenda aperiam atque vitae, vero neque, explicabo recusandae]
          nobis eveniet aliquam natus tempore, alias nemo adipisci hic ad doloremque temporibus!
       </p>
       <p >Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dicta, error tempora quas deserunt eveniet? 
        Beatae id quisquam corrupti 
        voluptate cumque, expedita ex pariatur, inventore at nobis quis harum quas.
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores tenetur assumenda aperiam atque vitae, vero neque, explicabo recusandae]
          nobis eveniet aliquam natus tempore, alias nemo adipisci hic ad doloremque temporibus!
       </p>
    </div>
    
  </div>
</div>