<ngb-carousel [animation]="true" [interval]="5000" >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper ">
        <img class="img" style="height: 80vh; width:100%;" src="https://sun9-12.userapi.com/impg/nMoJCeQmGa81CUmfttrjrQRM-B7r_hmaxDgonw/daSdNIwS9TY.jpg?size=604x604&quality=96&sign=05d74aafdd6bc896a69775eae0e61684&type=album" alt="Angular Carousel 1">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper ">
          <img class="img" src="https://sun9-12.userapi.com/impg/nMoJCeQmGa81CUmfttrjrQRM-B7r_hmaxDgonw/daSdNIwS9TY.jpg?size=604x604&quality=96&sign=05d74aafdd6bc896a69775eae0e61684&type=album" alt="Angular Carousel 1">
        </div>
        <div class="carousel-caption">
          <h3>Title Goes Here</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img  src="https://sun9-6.userapi.com/impg/E1mXU-hcTDMFv_kIaWfqXhpm4g1hKkWuiy38hw/_IjTUVrLmvg.jpg?size=1280x1280&quality=96&sign=308160ed7be7ea592707bf0fdd4b403c&type=album" alt="Angular Carousel 2">
      </div>
      <div class="carousel-caption">
        <h3>Title Goes Here</h3>
        <p>Consectetur tortor volutpat pretium.</p>
      </div>
    </ng-template>
  </ngb-carousel>