.parallax-image {
    background-image: url(https://sun9-8.userapi.com/impg/c855032/v855032209/215430/guqNgJYodH8.jpg?size=937x937&quality=96&sign=400b6a1eb37321ca282a486418cd873f&type=album);
    height: 45vh;
    width: 100%;
    text-align:center;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    color: white;
}