<div class="parallax-image justify-content-center">
    <div class="row h-100 w-100">
        <div class="col w-100 col-xl-12 align-self-center">
            <h1 class="text-center text-white ">Any Questions?</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h4>Контактная Информация</h4>
           <i class="fa fa-phone" style="width: 50px; height: 50px;"  aria-hidden="true">+380666666666</i> 
<br>
           <i class="fa fa-phone" style="width: 50px; height: 50px;"  aria-hidden="true">+380666666666</i> 
    <br>       
           <i class="fa fa-phone" style="width: 50px; height: 50px;"  aria-hidden="true">+380666666666</i> 
      <br>
      <i class="fa fa" style="width: 50px; height: 50px;"  aria-hidden="true">+380666666666</i> 
      
      <h5>ПН-ПТ 10:00-18-00 СБ-ВС 10:00-15:00</h5>
      <h5>Реквизиты:3890 3892 6666 1337</h5>
        </div>
    </div>
</div>
<br>
<br>