<div class="parallax-image justify-content-center">
    <div class="row h-100 w-100">
        <div class="col w-100 col-xl-12 align-self-center">
            <h1 class="text-center text-white ">Tours</h1>
        </div>
    </div>
</div>



<div class="container h-100">
    <div class="row " >
      <div class="col-md-9">
          
      
            <div class="card mb-12" style="max-width: 540px;" *ngFor="let dataitem of AsiatoursList  | paginate: { itemsPerPage: 5, currentPage: page, totalItems:totallenght }">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{dataitem.photo1}}" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">    <a routerLink="/tour/{{dataitem.id_t}}" href="#">{{dataitem.title}}</a></h5>
                      <p class="card-text">{{dataitem.price}}$</p>
                      <p class="card-text"><small class="text-muted">{{dataitem.stars}}<i class="fa fa-star" aria-hidden="true"></i></small></p>
                    </div>
                  </div>
                </div>
              </div>
       
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
    <div class="col-md-3" >
      <div class="container text-center" style="background-image:url(https://sun9-12.userapi.com/impg/nMoJCeQmGa81CUmfttrjrQRM-B7r_hmaxDgonw/daSdNIwS9TY.jpg?size=604x604&quality=96&sign=05d74aafdd6bc896a69775eae0e61684&type=album) ; padding:20px 0px 10px 0px;">
    <h2>  ASIA </h2>
      </div>
      <div class="container text-center" style="background-image:url(https://sun9-12.userapi.com/impg/nMoJCeQmGa81CUmfttrjrQRM-B7r_hmaxDgonw/daSdNIwS9TY.jpg?size=604x604&quality=96&sign=05d74aafdd6bc896a69775eae0e61684&type=album) ; padding:20px 0px 10px 0px;">
        <h2>   EUROPE</h2>
      </div>
      <div class="container text-center" style="background-image:url(https://sun9-12.userapi.com/impg/nMoJCeQmGa81CUmfttrjrQRM-B7r_hmaxDgonw/daSdNIwS9TY.jpg?size=604x604&quality=96&sign=05d74aafdd6bc896a69775eae0e61684&type=album) ; padding:20px 0px 10px 0px;">
        <h2>   AFRICA</h2>
      </div>
      <div class="container text-center"style="background-image:url(https://sun9-12.userapi.com/impg/nMoJCeQmGa81CUmfttrjrQRM-B7r_hmaxDgonw/daSdNIwS9TY.jpg?size=604x604&quality=96&sign=05d74aafdd6bc896a69775eae0e61684&type=album) ; padding:20px 0px 10px 0px;">
        <h2>   NORTH AMERICA</h2>
      </div>
      <div class="container text-center"style="background-image:url(https://sun9-12.userapi.com/impg/nMoJCeQmGa81CUmfttrjrQRM-B7r_hmaxDgonw/daSdNIwS9TY.jpg?size=604x604&quality=96&sign=05d74aafdd6bc896a69775eae0e61684&type=album) ; padding:20px 0px 10px 0px;">
        <h2>  SOUTH AMERICA</h2>
      </div>
    
    </div>
</div>
    </div>
